@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    max-width: 100vw;
    width: 100%;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}

.logo {
    width: 100px;

}

header nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

li {
    list-style: none;
}

.nav_links {
    text-decoration: none;
    color: rgba(255, 232, 211, 1);
    font-family: Poly;
}


.header_contact a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.header_contact {
    background-color: rgba(142, 98, 58, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    padding: .2rem .6rem;
    border-radius: 40px;
    cursor: pointer;
}

.icon {
    width: 15px;
}


.home_container {
    height: 100vh;
    background-image: url(./bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-color: rgb(5, 5, 5);
    font-family: Poppins;
}

.header_texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-top: 5rem;
    padding: 1rem;
}

.header_texts h1 {
    width: 40rem;
    font-size: 3.5rem;
    color: rgba(255, 232, 211, 1);
    font-family: Lora;
}

.header_texts p {
    text-align: center;
    width: 35rem;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
}

input {
    width: 28rem;
    padding: .8rem 0;
    padding-left: 2rem;
    position: relative;
    border-radius: 3px;
    border: none;
    font-family: Inter;
}

.icon1 {
    position: absolute;
    z-index: 1;
    top: 60.9%;
    left: 36%;
    cursor: pointer;
}

.icon2 {
    position: absolute;
    top: 60.8%;
    left: 63%;
    cursor: pointer;
}

.section_container {
    background-color: rgba(255, 232, 211, 1);
}


.top_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 4rem 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .4rem;
    border: 1px none;
    padding: 1.5rem 3rem;
    background: linear-gradient(to bottom, rgba(36, 32, 27, 0.4), rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.02));
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
}

.box h4 {
    color: rgba(142, 98, 58, 1);
    font-weight: 600;
}

.box p {
    color: rgba(142, 98, 58, 1);
    width: 12rem;
    font-size: .8rem;
}

.top-card-icon {
    width: 50px;
}

.bottom_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    padding: 2rem 0;
}

.bottom_styles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.bottom_col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.top_flex_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.first_position img,
.second_position img,
.third_position img,
.fourth_position img,
.fifth_position img {
    position: relative;
}

.first_position h2 {
    position: absolute;
    z-index: 1;
    top: 170%;
    left: 10%;
    color: rgba(255, 232, 211, 1);
}

.first_position a {
    position: absolute;
    z-index: 1;
    top: 237%;
    left: 10%;
    color: rgba(255, 237, 204, 1);
}

.second_position h2 {
    position: absolute;
    z-index: 1;
    top: 158%;
    left: 36%;
    color: rgba(255, 232, 211, 1);
}

.second_position a {
    position: absolute;
    z-index: 1;
    top: 193%;
    left: 36%;
    color: rgba(255, 237, 204, 1);
}

.third_position h2 {
    position: absolute;
    z-index: 1;
    top: 155%;
    left: 60%;
    color: rgba(255, 232, 211, 1);
}

.third_position a {
    position: absolute;
    z-index: 1;
    top: 190%;
    left: 60%;
    color: rgba(255, 237, 204, 1);
}


.fourth_position h2 {
    position: absolute;
    z-index: 1;
    top: 209%;
    left: 38%;
    color: rgba(255, 232, 211, 1);
}

.fourth_position a {
    position: absolute;
    z-index: 1;
    top: 248%;
    left: 38%;
    color: rgba(255, 237, 204, 1);
}


.fifth_position h2 {
    position: absolute;
    z-index: 1;
    top: 207%;
    left: 65%;
    color: rgba(255, 232, 211, 1);
}

.fifth_position a {
    position: absolute;
    z-index: 1;
    top: 250%;
    left: 65%;
    color: rgba(255, 237, 204, 1);
}






@media screen and (max-width: 768px) {
    .home_container {
        background-position: ;
    }
}